# 1. 동전 0 (백준 11047번)

In [17]:
n, k = map(int, input().split()) 
n_list = [int(input()) for i in range(n)]

count = 0

for j in reversed(n_list):
    if j > k:
        continue
    count += (k//j)
    k %= j
    
print(count)

10 4790
1
5
10
50
100
500
1000
5000
10000
50000
12

# 2. 회의실 배정 (백준 1931번)

In [35]:
n = int(input())
start_end = [tuple(map(int, input().split())) for _ in range(n)]
start_end.sort(key = lambda x: (x[1], x[0]))

count = 1
end_1st = start_end[0][1]

for i in start_end[1:]:
    if i[0] >= end_1st:
        count +=1
        end_1st = i[1]
print(count)

11
1 4
3 5
0 6
5 7
5 9
3 8
8 11
2 13
8 12
6 10
12 14
4

# 3. ATM (백준 11399번)

In [19]:
n = int(input())
n_list = list(map(int,input().split()))

n_list.sort(reverse=True)
sum_list = [0]*n

for i in range(n):
    sum_list = [x+y for x, y in zip(sum_list, (n_list[i:] + [0]*i))]

print(sum(sum_list))

3
1 2 3
10

# 4. DNA (백준 1969번)

In [75]:
n, m = map(int, input().split()) 
n_list = [input() for _ in range(n)]

dna = ''

for i in range(m):
    value = {'A':0, 'C':0, 'G':0, 'T':0}
    for j in range(n):
        value[n_list[j][i]] += 1
    dna += max(value, key=value.get)

answer = 0
for j in range(n):
    for i in range(m):
        if dna[i] != n_list[j][i]:
            answer += 1

print(dna)
print(answer)

5 8
TATGATAC
TAAGCTAC
AAAGATCC
TGAGATAC
TAAGATGT
TAAGATAC
7