# 과제 1

## Matrix 구현 
1. Linear Regression에서 쓰이는 **정규방정식**을 행렬로 구현하고, sklearn 혹은 OLS 패키지를 통해 구한 **실제 값과 비교**해주세요.
2. LSE에서 쓰이는 Loss Function, **MSE**를 행렬로 구현해 출력해주세요.

### Data Load

In [52]:
import pandas as pd
import os
os.chdir('C:/Users/cts08/Tobigs19_work')

data = pd.read_csv("assignment1.csv")

In [53]:
data.head()

    y    x1    x2  x3   x4    x5
0  10  38.9  64.7   4  868  59.7
1  13  41.6  45.3  -4  957  61.4
2  11  39.7  74.1   8  786  61.0
3   7  37.3  48.0  19  984  67.5
4  10  39.5  51.9   6  700  57.2

In [54]:
data.shape     # y:(9,1), X:(9,5)

(9, 6)

In [55]:
X = data.drop(["y"], axis=1)
y = data.y

In [56]:
# Matrix 계산을 위해 X와 y를 numpy 형태로 바꾸어줍니다. 
X = X.to_numpy()
y = y.to_numpy()

In [57]:
X

array([[  38.9,   64.7,    4. ,  868. ,   59.7],
       [  41.6,   45.3,   -4. ,  957. ,   61.4],
       [  39.7,   74.1,    8. ,  786. ,   61. ],
       [  37.3,   48. ,   19. ,  984. ,   67.5],
       [  39.5,   51.9,    6. ,  700. ,   57.2],
       [  37.4,   53.6,   -5. , 1037. ,   58.8],
       [  35.1,   71.4,    3. ,  986. ,   58.6],
       [  38.8,   58.3,    6. ,  819. ,   59.2],
       [  36.6,   52.6,  -19. ,  791. ,   54.4]])

In [58]:
y

array([10, 13, 11,  7, 10,  9,  9,  6,  5], dtype=int64)

### 1. Normal Equation

In [59]:
import numpy as np
from numpy.linalg import inv

In [60]:
def estimate_beta(X, y):
    designX = np.c_[np.ones((9,1)),X]
    beta_hat = np.linalg.inv(designX.T.dot(designX)).dot(designX.T).dot(y)
    
    return beta_hat

In [61]:
beta_hat = estimate_beta(X, y)
beta_hat

array([-3.92447368e+01,  1.31232583e+00,  8.53744361e-02,  7.41849897e-02,
        1.50018573e-02, -3.42273652e-01])

#### 실제 값과 비교

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
model = LinearRegression()
model.fit(X, y)

pred = model.predict(X)

In [64]:
print(model.intercept_)   # intercept
print(model.coef_)   # 추정된 회귀계수 (intercept 제외)

-39.24473678135655
[ 1.31232583  0.08537444  0.07418499  0.01500186 -0.34227365]

In [74]:
designX = np.c_[np.ones((9,1)),X]
y_pred = beta_hat.dot(designX.T)
designX.shape

(9, 6)

### 2. MSE

In [77]:
def MSE(X, y, beta_hat):
    designX = np.c_[np.ones((9,1)),X]
    y_pred = beta_hat.dot(designX.T)
    mse = np.square(np.subtract(y,y_pred)).sum()/(designX.shape[0]-designX.shape[1])
    return mse

# 다중선형회귀에서의 MSE는 자유도만큼을 나누어주는데 이때 자유도는 (n-p-1)이다.
# 여기서 n은 열 값 즉, 데이터 수를 의미하고 p는 행 값 즉, 모수(변수)의 개수를 말한다.
# 따라서 위 데이터에서는 n은 9, p는 5이므로 자유도는 3이 된다.

In [78]:
MSE(X, y, estimate_beta(X, y))

4.846793168705758